<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <meta charset="utf-r8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <!--mobile friendly: -->
            <meta name="viewport" content="width=device-width, initial-scale=1">


            <title>Texter</title>
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('/bundles/app/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('/bundles/app/css/text.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=places"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
            <script type="text/javascript" src="{{ asset('/bundles/app/js/bootstrap.js') }}"></script>
        {% endblock %}

    </head>
    <body>
        <div class="container-full">
        {% block navbar%}
            <!--navbar-->
            <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-menubuilder">
                        <ul class="nav navbar-nav navbar-left">
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                <li><a href="{{ url('user_events') }}">My Events</a></li>
                                <li><a href="{{ url('create_event') }}">Create New Events</a></li>
                            {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/navbar-->
        {% endblock %}
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
